name: CI & CD

on:
  push:
    paths:
      - src/**
    branches: 
      - main
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - id: commit
        uses: prompt/actions-commit-hash@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: clloris/python-app:${{ steps.commit.outputs.short }}
    outputs:
      commit_id: ${{ steps.commit.outputs.short }}

  cd:
    runs-on: self-hosted
    needs: ci
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Clone repo
        uses: actions/checkout@v4
      
      - name: Install pip
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip
          sudo rm -rf /usr/lib/python3.12/EXTERNALLY-MANAGED

      - name: Modify values file
        shell: bash
        run: |
          echo ${{ needs.ci.outputs.commit_id }}
          pip install yq
          yq -iy '.image.tag = "${{ needs.ci.outputs.commit_id }}"' 'charts/python-app/values.yaml'

      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          message: "Update image tag to ${{ needs.ci.outputs.commit_id }} in values.yaml"
      # - uses: actions/checkout@v4
      #   with:
      #     persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal access token.
      #     fetch-depth: 0 # otherwise, there would be errors pushing refs to the destination repository.
      # - name: Create local changes
      #   run: |
      #     ...
      # - name: Commit files
      #   run: |
      #     git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
      #     git config --local user.name "github-actions[bot]"
      #     git commit -a -m "Add changes"
      # - name: Push changes
      #   uses: ad-m/github-push-action@master
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     branch: ${{ github.ref }}

      - name: InstallArgoCD CLI
        shell: bash
        run: |
          curl -ksSL -o argocd-linux-amd64 https://argocd-server.argocd/download/argocd-linux-amd64
          sudo install -m 555 argocd-linux-amd64 /usr/local/bin/argocd
          rm argocd-linux-amd64

      - name: ArgoCD app Sync
        shell: bash
        run: |
          argocd login argocd-server.argocd \
            --insecure \
            --grpc-web \
            --username admin \
            --password ${{ secrets.ARGOCD_PASSWORD }}
          argocd app sync python-app